<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Jabra Browser Integration</title>
  <link href="/stylesheets/main.css" rel="stylesheet" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
  
</head>
<body>
<header>
  <div class="wrapper center">
    <h1 class="title">Jabra Browser Integration</h1>
    <p>Library test</p>
  </div>
</header>
<section id="section">
  <div class="wrapper">
    <h4>Description</h4>
    <p>On this page you can try out the Jabra library. Callbacks are shown as toasts. Look at the source for an example on how to use the library.</p>
    <div id="subTitles">
        <p id="subTitle1"></p>
        <p id="subTitle2"></p>
        <b id="noDeviceFound"></b>
    </div>
    <br/>
    <h4>Basic:</h4>
    <button id="ring" type="button" disabled="true">jabra.ring();</button>
    <br/>
    <button id="offhook" type="button" disabled="true">jabra.offHook();</button>
    <button id="onhook" type="button" disabled="true">jabra.onHook();</button>
    <br/>
    <button id="mute" type="button" disabled="true">jabra.mute();</button>
    <button id="unmute" type="button" disabled="true">jabra.unmute();</button>
    <h4>Advanced (optional):</h4>
    <button id="hold" type="button" disabled="true">jabra.hold();</button>
    <button id="resume" type="button" disabled="true">jabra.resume();</button>
    <h4>Device management (optional, only required for multi-device handling):</h4>
    <label for="changeActiveDeviceBtn" disabled="true">Select device to use:</label>
    <select id="deviceSelector"> 
    </select>
    <input id="changeActiveDeviceBtn" type="button" value="Set as active" disabled="true"/>
    <br/>
  </div>

</section>
<footer>
  <div class="wrapper center">
    <p>GN Audio A/S</p>
  </div>
</footer>
<script type="text/javascript" src="/javascripts/JavaScriptLibrary/jabra.browser.integration-3.0.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script type="text/javascript" src="/javascripts/main_jabra.js"></script>
</body>
</html>